<div class="insert-user-form container mt-5">
  <h2 class="text-center mb-4">{{ isEditMode ? 'Modificar Declaración Anual' : 'Insertar Declaración Anual' }}</h2>

    <div *ngIf="errorMessage" class="mt-3 text-center text-danger">
      {{ errorMessage }}
    </div>
    <form [formGroup]="declaracioanualForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input 
          id="nombre" 
          formControlName="nombre" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('nombre')?.invalid && declaracioanualForm.get('nombre')?.touched}"
          placeholder="Ingresa tu nombre"
        />
        <div *ngIf="declaracioanualForm.get('nombre')?.invalid && declaracioanualForm.get('nombre')?.touched" class="invalid-feedback">
          El nombre es requerido.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="apellido" class="form-label">Apellido:</label>
        <input 
          id="apellido" 
          formControlName="apellido" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('apellido')?.invalid && declaracioanualForm.get('apellido')?.touched}"
          placeholder="Ingresa tu apellido"
        />
        <div *ngIf="declaracioanualForm.get('apellido')?.invalid && declaracioanualForm.get('apellido')?.touched" class="invalid-feedback">
          El apellido es requerido.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="tipo_identificacion" class="form-label">Tipo de Identificación:</label>
        <input 
          id="tipo_identificacion" 
          formControlName="tipo_identificacion" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('tipo_identificacion')?.invalid && declaracioanualForm.get('tipo_identificacion')?.touched}"
          placeholder="Ingresa el tipo de identificación"
        />
        <div *ngIf="declaracioanualForm.get('tipo_identificacion')?.invalid && declaracioanualForm.get('tipo_identificacion')?.touched" class="invalid-feedback">
          El tipo de identificación es requerido.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="identificacion" class="form-label">Identificación:</label>
        <input 
          id="identificacion" 
          formControlName="identificacion" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('identificacion')?.invalid && declaracioanualForm.get('identificacion')?.touched}"
          placeholder="Ingresa tu identificación"
        />
        <div *ngIf="declaracioanualForm.get('identificacion')?.invalid && declaracioanualForm.get('identificacion')?.touched" class="invalid-feedback">
          La identificación es requerida.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="dv" class="form-label">DV:</label>
        <input 
          id="dv" 
          formControlName="dv" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('dv')?.invalid && declaracioanualForm.get('dv')?.touched}"
          placeholder="Ingresa el DV"
        />
        <div *ngIf="declaracioanualForm.get('dv')?.invalid && declaracioanualForm.get('dv')?.touched" class="invalid-feedback">
          El DV es requerido.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono:</label>
        <input 
          id="telefono" 
          formControlName="telefono" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('telefono')?.invalid && declaracioanualForm.get('telefono')?.touched}"
          placeholder="Ingresa tu teléfono"
        />
        <div *ngIf="declaracioanualForm.get('telefono')?.invalid && declaracioanualForm.get('telefono')?.touched" class="invalid-feedback">
          El teléfono es requerido.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="direccion" class="form-label">Dirección:</label>
        <input 
          id="direccion" 
          formControlName="direccion" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('direccion')?.invalid && declaracioanualForm.get('direccion')?.touched}"
          placeholder="Ingresa tu dirección"
        />
        <div *ngIf="declaracioanualForm.get('direccion')?.invalid && declaracioanualForm.get('direccion')?.touched" class="invalid-feedback">
          La dirección es requerida.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="municipio" class="form-label">Municipio:</label>
        <input 
          id="municipio" 
          formControlName="municipio" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('municipio')?.invalid && declaracioanualForm.get('municipio')?.touched}"
          placeholder="Ingresa tu municipio"
        />
        <div *ngIf="declaracioanualForm.get('municipio')?.invalid && declaracioanualForm.get('municipio')?.touched" class="invalid-feedback">
          El municipio es requerido.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="departamento" class="form-label">Departamento:</label>
        <input 
          id="departamento" 
          formControlName="departamento" 
          type="text" 
          class="form-control" 
          [ngClass]="{'is-invalid': declaracioanualForm.get('departamento')?.invalid && declaracioanualForm.get('departamento')?.touched}"
          placeholder="Ingresa tu departamento"
        />
        <div *ngIf="declaracioanualForm.get('departamento')?.invalid && declaracioanualForm.get('departamento')?.touched" class="invalid-feedback">
          El departamento es requerido.
        </div>
      </div>
      <!-- Botón de envío -->
      <div class="text-center">
        <button 
          type="submit" 
          class="btn btn-primary w-100"
          >
          {{ isEditMode ? 'Modificar Declaracion Anual' : 'Insertar Declaracion Anual' }}
        </button>
      </div>
    </form>
  
    <!-- Indicadores de carga y error -->
    <div *ngIf="isLoading" class="mt-3 text-center text-info">
      Insertando Declaracion Anual...
    </div>
   
  </div>
  