<div class="container mt-4">
    <h2>Declaración Mensual</h2>
    <button class="btn btn-primary mb-3 me-2" [routerLink]="['/insertardelmensual']">Insertar Declarion Mensual</button>
    <!-- Botón para exportar a Excel -->
    <button class="btn btn-success mb-3 me-2" (click)="exportToExcel()">Exportar a Excel</button>
    <button class="btn btn-danger mb-3" (click)="limpiarTabla()">Limpiar tabla</button>

    <!-- Selector de cantidad de registros por página -->
    <div class="mb-3 d-flex align-items-center">
      <!-- Selector de registros por página -->
      <div class="me-3">
        <label for="filterSelect" class="me-2">Filtrar por:</label>
        <select id="filterSelect" class="form-select" (change)="onFilterChange($event)" style="width: auto;">
          <option value="">Todos</option>
          <option value="inexactos">Inexactos</option>
          <option value="presuncion">Presunción de Omiso</option>
        </select>
      </div>
      <div class="me-3">
        <label for="perPageSelect">Registros por página:</label>
        <select id="perPageSelect" class="form-select" (change)="onPerPageChange($event)" style="width: auto;">
          <option *ngFor="let option of perPageOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    
      <!-- Campo de búsqueda alineado al extremo derecho -->
      <div class="ms-auto">
        <label for="searchInput">Buscar usuario:</label>
        <input type="text" id="searchInput" class="form-control" (input)="onSearch($event)" 
               placeholder="Escriba el nombre o correo" style="width: 250px;">
      </div>
    </div>
    <div *ngIf="avisosytablero.length > 0; else noData">
    <div style="overflow-x: auto;">
      <table class="table table-striped" *ngIf="avisosytablero.length > 0">
        <thead>
          <tr>
            <th>N° Declaración</th>
            <th>Vigencia</th>
            <th>Periodo</th>
            <th>Fecha Declaración</th>
            <th>NIT Contribuyente</th>
            <th>Razón Social</th>
            <th>Régimen</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Correo Electrónico</th>
            <th>Total Ingresos Brutos</th>
            <th>Menos Devoluciones y Subsidios</th>
            <th>Menos Ingresos Fuera Municipio</th>
            <th>Menos Ventas Activos Exportación</th>
            <th>Menos Ingresos Exentos No Sujetos</th>
            <th>Total Ingresos Gravables</th>
            <th>Autoretención Impuesto Industria Comercio</th>
            <th>Más Autoretenciones Impuestos Avisos Tableros</th>
            <th>Total Autoretención Mensual</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let avisos of avisosytablero" [ngClass]="{ 'table-danger': isImpuestoIncorrecto(avisos) }">
            <td>{{ avisos.n_declaracion }}</td>
            <td>{{ avisos.vigencia }}</td>
            <td>{{ avisos.periodo }}</td>
            <td>{{ avisos.fecha_declaracion }}</td>
            <td>{{ avisos.nit_contribuyente }}</td>
            <td>{{ avisos.razon_social }}</td>
            <td>{{ avisos.regimen }}</td>
            <td>{{ avisos.direccion }}</td>
            <td>{{ avisos.ciudad }}</td>
            <td>{{ avisos.correo_electronico }}</td>
            <td>{{ avisos.total_ingresos_brutos }}</td>
            <td>{{ avisos.menos_devoluciones_subsidios }}</td>
            <td>{{ avisos.menos_ingresos_fuera_municipio }}</td>
            <td>{{ avisos.menos_ventas_activos_exportacion }}</td>
            <td>{{ avisos.menos_ingresos_exentos_no_sujetos }}</td>
            <td>{{ avisos.total_ingresos_gravables }}</td>
            <td>{{ avisos.autoretencion_impuesto_industria_comercio }}</td>
            <td>{{ avisos.mas_autoretenciones_impuestos_avisos_tableros }}</td>
            <td>{{ avisos.total_autoretencion_mensual }}</td>
            <td>
              <select class="form-select" (change)="onActionChange($event, avisos)">
                <option value="">Seleccione una acción</option>
                <option value="actualizar">Actualizar</option>
                <option value="eliminar">Eliminar</option>
                <option value="cargarImagen">Cargar Imagen</option>
                <option value="reporte">Reportar</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      
  </div>
    
    
  <div *ngIf="total > 0" class="total-records">
    Total de registros: {{ total }}
  </div>
    <nav *ngIf="totalPages > 1">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="getDeclaracionMensual(currentPage - 1)">Anterior</a>
        </li>
    
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
          <a class="page-link" (click)="getDeclaracionMensual(i + 1)">{{ i + 1 }}</a>
        </li>
    
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="getDeclaracionMensual(currentPage + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>
  </div>
  <ng-template #noData>
    <p>No hay datos disponibles en la tabla.</p>
  </ng-template>
    <div *ngIf="avisosytablero.length === 0">
      No hay avisos y tableros disponibles.
    </div>
    <div *ngIf="reporteData">
     
      <app-reportemensual
        [reporteData]="reporteData"
        (close)="closeModal()"
      ></app-reportemensual>
    </div>
  </div>
  
  