<div class="container mt-4">
    <h2>Publicidad Exterior</h2>
    <button class="btn btn-primary mb-3 me-2" [routerLink]="['/insertarvallas']">Insertar Publicidad exterior</button>
    <!-- Botón para exportar a Excel -->
    <button class="btn btn-success mb-3" (click)="exportToExcel()">Exportar a Excel</button>
 
    <!-- Selector de cantidad de registros por página -->
    <div class="mb-3 d-flex align-items-center">
      <!-- Selector de registros por página -->
      
      <div class="me-3">
        <label for="perPageSelect">Registros por página:</label>
        <select id="perPageSelect" class="form-select" (change)="onPerPageChange($event)" style="width: auto;">
          <option *ngFor="let option of perPageOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    
      <!-- Campo de búsqueda alineado al extremo derecho -->
      <div class="ms-auto">
        <label for="searchInput">Buscar vallas:</label>
        <input type="text" id="searchInput" class="form-control" (input)="onSearch($event)" 
               placeholder="Escriba el nombre o correo" style="width: 250px;">
      </div>
    </div>
    <div style="overflow-x: auto;">
     
      <table class="table table-striped" *ngIf="avisosytablero.length > 0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Opción</th>
            <th>N° Registro</th>
            <th>Fecha Instalación</th>
            <th>Lugar Instalación</th>
            <th>Dónde Instaló</th>
            <th>Base Gravable</th>
            <th>Impuesto a Pagar</th>
            <th>ID Contribuyente</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let avisos of avisosytablero"  >
            <td [ngClass]="{ 'highlight-row': isNearOneYear(avisos) }">{{ avisos.id }}</td>
            <td>{{ avisos.opcion }}</td>
            <td>{{ avisos.n_registro }}</td>
            <td>{{ avisos.fecha_instalacion }}</td>
            <td>{{ avisos.lugar_instalacion }}</td>
            <td>{{ avisos.donde_instalo }}</td>
            <td>{{ avisos.base_gravable }}</td>
            <td>{{ avisos.impuesto_pagar }}</td>
            <td>{{ avisos.contribuyente.nombre }} {{ avisos.contribuyente.apellido }}</td>
            
            <td>
              <select class="form-select" (change)="onActionChange($event, avisos)">
                <option value="">Seleccione una acción</option>
                <option value="actualizar">Actualizar</option>
                <option value="eliminar">Eliminar</option>
                <option value="cargarImagen">Cargar Imagen</option>
                <option value="reporte">Reporte</option>
               
              </select>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
    
    
   
    <nav *ngIf="totalPages > 1">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="getAvisosytableros(currentPage - 1)">Anterior</a>
        </li>
    
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
          <a class="page-link" (click)="getAvisosytableros(i + 1)">{{ i + 1 }}</a>
        </li>
    
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="getAvisosytableros(currentPage + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>
    <div *ngIf="avisosytablero.length === 0">
      No hay avissos y tableros disponibles.
    </div>
    <div *ngIf="reporteData">
      <app-reportevallas
        [reporteData]="reporteData"
        (close)="closeModal()"
      ></app-reportevallas>
    </div>
  </div>
  
  