.bg-danger {
    background-color: #f8d7da !important; /* Fondo rojo claro */
    color: #721c24; /* Texto oscuro para mayor contraste */
  }

  .highlight-row {
    background-color: yellow !important;
  }
  