<div class="container mt-4">
    <h2>Lista de Usuarios</h2>
    <button class="btn btn-primary mb-3 me-2" [routerLink]="['/insertar']">Insertar Usuario</button>
    <!-- Botón para exportar a Excel -->
    <button class="btn btn-success mb-3" (click)="exportToExcel()">Exportar a Excel</button>
 
    <!-- Selector de cantidad de registros por página -->
    <div class="mb-3 d-flex align-items-center">
      <!-- Selector de registros por página -->
      <div class="me-3">
        <label for="perPageSelect">Registros por página:</label>
        <select id="perPageSelect" class="form-select" (change)="onPerPageChange($event)" style="width: auto;">
          <option *ngFor="let option of perPageOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
    
      <!-- Campo de búsqueda alineado al extremo derecho -->
      <div class="ms-auto">
        <label for="searchInput">Buscar usuario:</label>
        <input type="text" id="searchInput" class="form-control" (input)="onSearch($event)" 
               placeholder="Escriba el nombre o correo" style="width: 250px;">
      </div>
    </div>
    
    
    
    
    <table class="table table-striped" *ngIf="users.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Direccion</th>
          <th>Fecha de Creación</th>
          <th>Estado</th>
          <th>Acciones</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.apellido }}</td>
          <td>{{ user.telefono }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.direccion }}</td>
          <td>{{ user.created_at | date }}</td>
          <td>{{ user.estado === '1' ? 'Activo' : (user.estado === '2' ? 'Inactivo' : 'Desconocido') }}</td>
          <td>
            <button class="btn btn-warning me-2" (click)="editUser(user)">Actualizar</button>
            <button class="btn btn-danger" (click)="deleteUser(user.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <nav *ngIf="totalPages > 1">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="getUsers(currentPage - 1)">Anterior</a>
        </li>
    
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
          <a class="page-link" (click)="getUsers(i + 1)">{{ i + 1 }}</a>
        </li>
    
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="getUsers(currentPage + 1)">Siguiente</a>
        </li>
      </ul>
    </nav>
    <div *ngIf="users.length === 0">
      No hay usuarios disponibles.
    </div>
  </div>
  
  